@font-face{
    font-family: yekan;
    src: url(../font/iranyekanwebmedium.2d4f96e5.woff);
}
div.sort{
    width: 100%;
    height: 450px;
    text-align: center;
    margin-top: 30px;
}
div.sort>span{
    height: 20px;
    font-family: yekan;
    font-size: 25px;
}
div.sort>div.tsort{
    width: inherit;
    height: 215px;
    text-align: center;
}
div.sort>div.bsort{
    width: inherit;
    height: 215px;
    text-align: center;
}
div.sort>div.tsort>div{
    display: inline-block;
    width: auto;
    margin-top: 47.5px;
}
div.sort>div.tsort>div>a>img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
    margin: 0 35px;
}
div.sort>div.tsort>div>a>h4{
    font-family: yekan;
    font-size: 12px;
    font-style: normal;
}
div.sort>div.tsort>div>a{
    text-decoration: none;
    color: black;
}
div.sort>div.bsort>div{
    display: inline-block;
    width: auto;
    margin-top: 47.5px;
}
div.sort>div.bsort>div>a>img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 100%;
    margin: 0 35px;
}
div.sort>div.bsort>div>a>h4{
    font-family: yekan;
    font-size: 12px;
    font-style: normal;
}
div.sort>div.bsort>div>a{
    text-decoration: none;
    color: black;
}
div.sort>div.bsort>div:nth-child(6)>a>img{
    border-radius: 0;
    width: 100px;
    height: 70px;
    margin-bottom: 20px;
}
